<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users</title>
    <link rel="stylesheet" href="/showusers.css">
</head>
<body>
    <header>
        <h1>UserStack</h1>
    </header>
    <a href="http://localhost:8080/" class="floating-btn">Home Page</a>

    <main>
    <table>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Email</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <% for (user of users) { %>
        <tr>
            <td><%= user.id %></td>
            <td><%= user.username %></td>
            <td><%= user.email %></td>
            <td>
                <form method="GET" 
            action="/user/<%= user.id %>/edit">
               <button>Edit_Username</button> 
            </form>
            </td> 
            <td>
                <form method="GET" action="/user/<%= user.id %>/delete">
                <button class="delete-btn">Delete</button>
                </form>
            </td>
        </tr>
        <% } %>
    </table>
    </main>
    
</body>
</html>

